filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log
    - /var/log/messages
    - /var/log/secure  
    - /var/log/cron
    - /var/log/firewalld
    - /var/log/sssd/*.log
 


output.logstash:
    enabled: true
    hosts: ["{{ filebeat_output_logstash_hosts }}:5044"]



logging:
  ### Filebeat log
  level: warning

  # Enable file rotation with default configuration
  to_files: true

  # Do not log to syslog
  to_syslog: false

